header {
    @extend .bg-light, .py-3, .mb-3;

    > div {
        @extend
            .container,
            .d-flex,
            .justify-content-between,
            .align-items-center,
            .flex-column,
            .flex-md-row;
    }

    h1 {
        @extend .h4, .mb-3, .mb-md-0, .text-secondary, .font-weight-normal;

        line-height: 1.5;

        small {
            @extend .d-block;

            font-size: 13px;
        }
    }

    nav {
        @extend .text-center, .text-md-right;

        width: 100%;
    }

    button {
        @extend
            .btn,
            .btn-light,
            .d-block,
            .d-sm-inline-block,
            .mb-2,
            .mb-sm-0,
            .text-left;

        width: 100%;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    @include media-breakpoint-up(sm){
        nav {
            width: auto;
        }

        button {
            width: auto;
        }
    }
}
